@import "./mathmlfixes.css";

@font-face {
    font-family: "NewCM Math";
    src: url("./NewCMMath-Book.woff2") format("woff2");
    font-display: swap;
}

math {
    font-family: "NewCM Math", math;
}